<div class="about">
    <h1>About Page</h1>
    <p>Why You Need a Strong "About Us" Page
        When a potential client or customer ends up on your site and likes what they see, they'll likely head to your "About Us" page. These visitors are essentially searching for your story—who are you, and what do you offer? This is your opportunity to shine and build a connection between you and your new visitor. Although you may be 100% business-oriented, your About Us page is your chance to connect on a human level. A great About Us page can help your brand:
        
        Make a good first impression on new site visitors
        Communicate the story, cause, and purpose of your business
        Differentiate you in a positive way from your competition
        Put a more personable face to your brand
        Establish trust that your business is legitimate
        Give customers a reason to purchase from you
        Build loyalty, keeping customers coming back for more
        At the end of the day, your About Us page is essentially a sales page. Based on the story you tell, you will paint a picture that represents who you are as a brand. WHY would a potential client or customer want to buy from you? Put a face to the name, bridging the gap between you and your audience.</p>
</div>